.DS_Store
stash/*
tools/*
_downloads/*
build/*
!build/readme.txt
AppleHDA_ALC290.kext/
_hdainject_marker.txt
Patches.xcodeproj/project.xcworkspace/xcuserdata
Patches.xcodeproj/project.xcworkspace/xcshareddata/envy15.xccheckout
Patches.xcodeproj/project.xcworkspace/xcshareddata/
Patches.xcodeproj/xcuserdata
native_linux/*
!native_linux/readme.txt
native_patchmatic/*
!native_patchmatic/readme.txt
